body {
    background-color: rgb(100, 100, 100);
}

.page {
    width: 850px;
    background-color: white;
    margin: auto;
    padding: 50px;
    padding-top: 35px;
}

h1 {
    font-family: 'Gidugu';
    font-size: 70px;
    color: black;
    text-align: center;
}


p {
    font-family: 'Tenor Sans';
    font-size: 20px;
    color: black;
    text-align: left;
}